<mat-toolbar color="primary">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Experimental PDF.JS</span>
</mat-toolbar>

<p>
  <a [href]="pdfBlobUrl" target="_blank" mat-flat-button color="accent">保存</a>
</p>
<!-- canvasで(click)が起きないので、外側でリッスンする -->
<div #pdfCanvasContainer class="pdf-canvas-container" (click)="onClick($event)">
  <img
    #stamp
    class="stamp"
    src="/assets/stamp.png"
    [style.display]="isShowingCursor ? 'block' : 'none'"
    [style.top.px]="cursorPos.top"
    [style.left.px]="cursorPos.left"
  />
  <canvas
    #pdfCanvas
    class="pdf-canvas"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave()"
    (mousemove)="onMouseMove($event)"
  ></canvas>
</div>
